.section__fifth {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background: #1f1f1f;
}

.section-fifth__info-wrap {
  width: 25%;
  padding: 100px 50px 0;
  background: #1f1f1f;
  transform: translateY(-100px);
}

.section-fifth__over-header {
  font-family: Karla;
  color: #888;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section-fifth__header {
  font-family: Editor;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
}

.section-fifth__line {
  height: 3px;
  width: 60%;
  background: #fff;
  margin-bottom: 30px;
}

.section-fifth__years {
  font-family: Karla;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.section-fifth__desc {
  font-family: Karla;
  color: #fff;
  font-size: .7rem;
  line-height: 2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 50px;
}

.section-fifth__link {
  font-family: Karla;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.section-fifth__img-wrap {
  width: 75%;
  background: #000 url(../../img/Layer-10.png) top center no-repeat;
  background-size: cover;
}

.section-fifth__img {
  width: 100%;
}
